{% extends 'main/layout.html' %}

{% block title %}
  Новости
{% endblock %}

{% block content %}
  <div class="content">
    <h1>Новости</h1>

    {% for article in news %}
      <div class="alert alert-warning">
        <h3>{{ article.title }}</h3>
        <p>{{ article.release }}</p>
        <div class="show-article"><a href="{% url 'article-details' article.slug %}" class="btn btn-info">Подробнее</a></div>
      </div>
    {% empty %}
      <p>Публикации отсутствуют</p>
    {% endfor %}

    {% if is_paginated %}
      <nav aria-label="News page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Последние</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
                <span class="sr-only">Следующие</span>
              </a>
            </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
              <li class="page-item active">
                <a class="page-link" href="?page={{ page_number }}">
                  {{ page_number }}
                  <span class="sr-only"> (current)</span>
                </a>
              </li>
            {% elif page_obj.number|add:-5 < page_number < page_obj.number|add:5 %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
                <span class="sr-only">Предыдущие</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Первые</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}
